#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/* 大元の通常移動とオートマウスの設定（セミコロンを確実に付与） */
&pointing_listener {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
                       <&zip_temp_layer 4 1000>;
};

&zip_temp_layer {
    excluded-positions = <
        33 // J
        34 // K
        35 // l
        47 // m
        49 // .
    >;
};

&size_s_transform { col-offset = <7>; };
&size_m_transform { col-offset = <7>; };
&size_l_transform { col-offset = <7>; };
